*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 0 auto;
}

body{
    font-family: "Ubuntu", sans-serif;
    line-height: 1.6;
    font-size: 20px;
}

h1,h2{
    font-weight:599;
    line-height: 1.2;
    font-size: 40px;
    padding: 15px;
}

hr{
    width: 1.5%;
    border: dotted 4px #D1D1D1;
    border-bottom: none;
    margin: 30px auto;
    margin-top: -20px;
}

.header{
    width: 100%;
    color: #fff;
    min-height: 70px;
    position: fixed;
    background-color: #0088cc;
    z-index: 9;
}

.header div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav > ul{
    list-style-type: none;
    display: flex;
}

.header li{
    padding: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #78DEC7;
    font-weight: bold;
}

.header h2, footer h2{
    font-size:30px;
}

#home-page{
    background-image: linear-gradient(to bottom, #0088cc, #0088cc);
    background-size: auto 650px;
    background-repeat: no-repeat;
}

.svg{
    position: relative;
    top:450px;
}

#home-page h1, #home-page p{
    text-align: center;
    position: relative;
    top:-170px;
    font-size: 75px;
    color:#fff;
}

#home-page p{
    font-size:20px;
    text-align: center;
}

.platforms{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 6;
    position: relative;
    top: -75px;
    justify-content:space-between;
    gap: 60px;
    align-items:center;
}

.platforms div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    z-index: 6;
}

.card {
    background-color: #fff;
    max-width: 315px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    color: #333;
}

.btn {
    margin-top: 30px;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    border: none;
    border-radius: 7px;
}

.btn:hover {
    transform: scale(0.97);
}

.twitter .btn{
    background: #0088cc;
}

.telegram .btn{
    background: #229ed9;
}

.reddit .btn{
    background: #ff4500;
}

.twitter{
    border: #0088cc 6px solid;
    color: #0088cc;
}

.telegram{
    border: #229ed9 6px solid;
    color: #229ed9;
}

.reddit{
    border: #ff4500 6px solid;
    color: #ff4500;
}

/******** Testimonials **********/

.testimonials h2{
    text-align: center;
    color:#0088cc;
}

.testimonials{
    margin-bottom: 80px;
}

.screenshots{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 50px;
    row-gap: 40px;
}

.screenshots div{
    border: #0088cc 3px solid;
    border-radius: 5px;
}

.screenshots a{
    transition: transform 0.2s ease-in;
}

.screenshots a:hover{
    transform:scale(1.03);
}

.screenshots > *:first-child{
    grid-column: 1/ span 5;
}

.screenshots > *:nth-child(2){
    grid-column: 6 / span 8;
}

.screenshots > *:nth-child(3){
    grid-column: 2/span 6;
}

.screenshots > *:nth-child(4){
    grid-row: 3;
    grid-column: 4/span 7;
}

/****** mail-list & contact-us **********/

#mail-list{
    margin-top:-90px;
    padding-top: 90px;
}

#mail-list h2, #contact-us h2{  
    text-align: center;
    color: #0088cc;
    margin-bottom: 5px;
}

#mail-list p, #contact-us p{
    font-size: 17px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

form{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 30px;
}

.form-control{
    width: 50%;
}

.form-control input{
    width: 100%;
    height: 45px;
}

#mail-list .btn{
    background: #78DEC7;
    border: 1px solid #78DEC7;
    color: #333;
    font-size: 20px;
    margin: 0;
    margin-left: 30px;
    height: 60px;
    width: 120px;
    text-align: center;
}

.form-control input[type="email"], .form-control input[type="text"] {
    border: none;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-control input:focus {
    outline: none;
}

#contact-us{
    margin-top: -90px;
    padding-top: 90px;
}

#contact-us a{
    color:#78DEC7;
}

#contact-us a:hover{
    color: #0088cc;
}

.contact-cards{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
}

.contact-team, .contact-founder{
    display: flex;
    height: 250px;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #b4becb 1px solid;
}

.contact-team p, .contact-founder p{
    margin:0 !important;
    margin-bottom: 10px !important;
}

.contact-team h4, .contact-founder h4{
    margin-bottom: 40px;
}

/************* FOOTER ***********/

footer{
    color: #000;
    font-size: 16px;
    min-height: 80px;
    background-color: #78DEC7;
    margin-top: 70px;
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
}

footer a{
    color:#000;
}

.socials{
    padding-top: 5px;
}

.socials img{
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
}

/*********** ANIMATIONS ****************/

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.twitter{
    animation: slideInFromBottom 1s ease-out;
}

.telegram{
    animation: slideInFromBottom 2s ease-out;
}

.reddit{
    animation: slideInFromBottom 3s ease-out;
}

/************ RESPONSIVENESS *************/

@media (max-width: 900px) {
    .svg{
        top: 500px !important;
    }

    #home-page h1, #home-page p{
        top:-140px;
    }

    .platforms{
        gap: 30px !important;
    }
}

@media(max-width: 800px) {
    .svg{
        top: 520px !important;
        width: 100%;
    }    

    .platforms {
        grid-template-columns: 1fr;
    }

    .platforms div{
        margin: 0 auto;
    }

    .screenshots{
        grid-template-columns: 1fr;
    }

    .screenshots > *:first-child{
        grid-column: auto;
    }
    
    .screenshots > *:nth-child(2){
        grid-column: auto;
    }
    
    .screenshots > *:nth-child(3){
        grid-column: auto;
    }
    
    .screenshots > *:nth-child(4){
        grid-column: auto;
        grid-row: auto;
    }
    
    .header div{
        text-align: center;
    }

    .header{
        position: static;
    }

    .header ul{
        text-align: center;
    }

    #home-page{
        margin-bottom: 70px;
    }

    #home-page h1{
        top:-120px;
    }

    #home-page p{
        font-size: 25px;
        top:-120px;
    }

    .form-control{
        width: 100%;
    }

    footer div{
        flex-direction: column;
    }

    footer{
        padding-bottom: 20px;
    }

    .socials{
        flex-direction: row;
        margin-top: 20px;
    }

    .socials img{
        margin:0 30px;
    }

    #mail-list{
        margin-top:-80px;
        padding-top: 80px;
    }

    #mail-list .btn{
        align-self: center;
        margin: 0;
        margin-top: 20px;
    }

    .platforms .card{
        width: 320px !important;
    }

    .contact-cards{
        flex-direction: column;
        gap: 20px;
    }

    .contact-founder, .contact-team{
        width: 80%;
    }

    .platforms{
        top:0px;
    }

    
    form{
        flex-direction: column;
    }

}

@media (max-width:600px) {
    .svg{
        top:550px !important;
    }
    header{
        display: none;
    }
    #home-page h1{
        margin-bottom: 40px;
        font-size: 53px;
        font-weight: bold;
        top: -80px;
    }
    #home-page p{
        font-size: 18px;
        top:-80px
    }

    #home-page{
        margin-bottom: 120px;
    }

    .platforms .card{
        width: 320px !important;
    }

    .platforms{
        top:50px;
    }

}

@media (max-width:450px){
    .svg{
        top:580px !important;
    }

    #home-page h1{
        font-size: 40px !important;
        top: -30px;
    }
    #home-page p{
        font-size: 17px;
        top: -30px;
    }
    .platforms .card{
        width: 300px !important;
    }

    .contact-founder h4, .contact-team h4{
        font-size: 15px;
    }

    .platforms{
        top:50px;
    }

    #home-page{
        margin-bottom: 150px;
    }
}